.wy-nav-content {
    max-width: none;
}
.bg-lightblue {
    background-color: lightblue;
}
.border-red {
    border-width: 1px;
    border-color: red;
}
.border-blue {
    border-color: blue;
}
.border-green {
    border-color: green;
}
.border-orange {
    border-color: orange;
}
.border-purple {
    border-color: purple;
}