.wy-nav-content {
    max-width: none;
}
.bg-lightred {
    background-color: rgb(255, 211, 211);
}
.bg-lightblue {
    background-color: rgb(211, 223, 255);
}
.bg-lightgreen {
    background-color: rgb(211, 255, 213);
}
.bg-lightorange {
    background-color: rgb(255, 237, 211);
}
.bg-lightpurple {
    background-color: rgb(239, 211, 255);
}
.border-red {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}
.border-blue {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}
.border-green {
    border-style: solid;
    border-width: 1px;
    border-color: green;
}
.border-orange {
    border-style: solid;
    border-width: 1px;
    border-color: orange;
}
.border-purple {
    border-style: solid;
    border-width: 1px;
    border-color: purple;
}